html {
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}

body {
    margin: 0 0;
    width: 100vw;
    max-width: 1440px;
    padding-top: 2vh;
    background-color: hsl(185, 41%, 84%);
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 5vh;
}

main {
    margin: 0 auto;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    width: 60%;
    padding: 2rem 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

section {
    position: relative;
    flex: 1 1 0;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    background-color: hsl(183, 100%, 15%);
    border-radius: 2rem;
    margin-left: 2rem;
    padding: 2rem 2rem;
}

h2 {
    font-size: 1.3rem;
}

section h2 {
    color: hsl(186, 14%, 43%);
}

section label h2 {
    margin-bottom: -0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

aside h2 {
    color: hsl(189, 41%, 97%);
}

aside span {
    font-size: 1.1rem;
    color: hsl(184, 14%, 56%);
}

.row h3 {
    font-size: 3rem;
    font-weight: 700;
    color: hsl(172, 67%, 45%);
}

input {
    position: relative;
    border: 1px solid hsl(185, 41%, 84%);
    width: 100%;
    padding: 1rem 1rem;
    background-color: hsl(189, 41%, 97%);
    border-radius: 0.5rem;
    text-align: end;
    color: hsl(183, 100%, 15%);
    font-size: 1.5rem;
    font-weight: 700;
    box-sizing: border-box;
}

section > input[type=text] {
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
}

input:focus {
    outline: none;
}

input::placeholder {
    padding-left: 5rem;
    color: hsl(185, 41%, 84%);
}

input[type=number] {
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 0.2;
  }

button {
    width: 100%;
    border: none;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
}

button:hover {
    background-color: hsl(185, 41%, 84%);
}

.tip-percentage-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    
}

.tip-percentage {
    cursor: pointer;
    padding: 1rem 4rem;
    border-radius: 0.3rem;
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    font-size: 1.5rem;
    text-align: center;
}


.tip-percentage:hover,
.custom-tip-percentage button:hover {
    background-color: hsl(172, 67%, 45%);
}

.custom-tip-percentage button {
    width: 100%;
    height: 100%;
    background-color: hsl(185, 41%, 84%);
    text-transform: capitalize;
}

.attribution { 
    margin-top: 1vh;
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}


@media only screen and (max-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
    }
    aside {
        margin-top: 1.5rem;
        margin-left: 0;
    }
    .tip-percentage-container {
        grid-template-columns: auto auto;
    }
}


@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }

@media only screen and (max-width: 300px) {
    .tip-percentage-container {
        grid-template-columns: auto;
    }
}